---
- name: Install cockpit console
  ansible.builtin.package:
    name: 
      - cockpit
      - cockpit-system
    state: present

- name: Copy cockpit.conf
  ansible.builtin.template:
    src: "cockpit.conf.j2"
    dest: "/etc/cockpit/cockpit.conf"

- name: Setup cockpit/machines.d/99-webui.json file per student
  ansible.builtin.template:
    src: 99-webui.json.j2
    dest: "/etc/cockpit/machines.d/99-webui.json"

- name: Ssh keyscan for all cockpit hosts
  become: true
  become_user: "{{ cockpit_become_user }}"
  ansible.builtin.shell:
    cmd: ssh-keyscan -H {{ _cockpit_host.name }} >> /home/{{ cockpit_become_user }}/.ssh/known_hosts 
  loop: "{{ cockpit_instances }}"
  loop_control:
    loop_var: _cockpit_host

- name: Enable and start cockpit console service
  ansible.builtin.service:
    name: cockpit.socket
    enabled: true
    state: started

- name: Install cockpit console
  ansible.builtin.package:
    name: 
      - cockpit
      - cockpit-system
    state: present
  delegate_to: "{{ _cockpit_host.name }}"
  loop: "{{ cockpit_instances }}"
  loop_control:
    loop_var: _cockpit_host

- name: Enable and start cockpit for all nodes
  ansible.builtin.service:
    name: cockpit.socket
    enabled: true
    state: started
  delegate_to: "{{ _cockpit_host.name }}"
  loop: "{{ cockpit_instances }}"
  loop_control:
    loop_var: _cockpit_host
